:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.trail {
    position: absolute;
    width: 20px; 
    height: 20px; 
    border-radius: 80%; 
    background-color: rgba(255, 234, 0, 0.8); 
    pointer-events: none; 
    transition: transform 0.9s ease, opacity 0.9s ease; 
    opacity: 1; 
}
#theme-switch {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #a4a5b8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: background-color 0.9s ease, box-shadow 0.9s ease;
}

#theme-switch:hover {
    box-shadow: 0 0 20px yellow, 0 0 40px yellow; /* Change var(--accent-color) to yellow */
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    font-size: 45px;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 50px;
    background: #81758b;
    display: flex;
    border-radius: 8px;
}

form input {
    text-align: center;
    color: #fff;
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
    padding: 0 30px;
}

form button {
    align-items: center;
    padding: 0; 
    height: 100%;   
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    display: flex; 
    position: sticky;
}

.search-icon {
    width: 25px; 
    height: auto; 
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn {
    background: #074a76;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

#search-result img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.5s ease; 
}

#search-result img:hover {
    transform: scale(1.20); 

}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
        margin-top: 50px;
    }

    form {
        height: 60px;
    }

    form input {
        font-size: 16px;
        padding: 0 20px;
    }

    form button {
        font-size: 16px;
        padding: 0 20px;
    }

    #show-more-btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    #search-result {
        grid-template-columns: 1fr;
    }

    #search-result img {
        height: 200px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}